{# import template #}
{% extends 'layout.jinja' %} 

{# title block #}
{% block title %}Test Page{% endblock title %}

{# content block #}
{% block content %}
<div>
  {{ obj["random"] }}
</div>
<ul>
  {% for number in obj["numbers"] %}
    <li>
      {{ number }}
    </li>
  {% endfor %}
</ul>
{% endblock content %}
